.App {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    height: 33px;
    width: 33px;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
}
